<!DOCTYPE html>

<html>

<head>
  <title>Banking System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
  <style>
    @media (max-width: 1500px) {
      #home {
        margin-left: 240px;
        font-weight: 600;
        font-size: 42px;
        text-decoration: none;
        color: #3D7DD8;
      }
    }

    @media (max-width: 700px) {
      #home {
        margin-left: 180px;
        font-weight: 600;
        font-size: 42px;
        text-decoration: none;
        color: #3D7DD8;
      }
    }
  </style>
</head>

<body class="bg-dark" style="font-family: 'Recursive', sans-serif; max-width: 1350px;">
  <nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand m-0 h1" style="
      color: rgb(255, 218, 11);
      font-weight: 600;
      font-size: 44px;
    ">Sparks Bank</span>
  </nav>
  <div class="row justify-content-center">
    <div id="table-cont" class="col-12 col-lg-7" style="background-color: #fff;margin-top: 25px;padding: 20px;">
      {{{body}}}
    </div>
  </div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>